{% extends 'templates/default.html' %}
{% block title %}{% endblock %}

{% block content %}
<style>
.qwe {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

/* Darker chat container */
.darker {
    border-color: #ccc;
    background-color: #ddd;
}

</style>
{% for chat in user_chat %}
<div class="container darker qwe">
    <p>{{ chat.user }}</p>
  <span class="time-left">11:05</span>
</div>
{% endfor %}
<div>
    <textarea rows="10" cols="45"></textarea>
    <input value="Отправить" type="submit">
</div>

{% endblock %}