{% extends 'templates/default.html' %}
{% block title %} {{ game.name }} {% endblock %}

{% block content %}
<style>
.article-img {
    height: 275px;
    width: 200px;
    border-radius: 2px;
    }
    .blue {background: #1F75FE; }
   .index{color: White;}

.shoots-img {
    height: 500px;
    width: 900px;
    border-radius: 2px;
    padding: 25px;
    padding-left: 0px;
    }

</style>
<div class="container " style="padding: 25px 0 25px 0">
<div class="container">
    <div style="float: left; width: 200px; height: 275">
        <div style="position: relative;">
            <img class="article-img" src="{{ game.poster.url }}" alt="">
        </div>
    </div>
    <div style="padding-left: 215px;">
        <font color="White"><h4>{{ game.name }}</h4> </font>
        <font color="White"> Дата выхода: {{ game.release }} </font>
        <br>
        {% if game.price > 0 %}
        <font color="White">Цена: {{ game.price }} руб.</font>
        {% else %}
        <font color="White">Цена: Бесплатно</font>
        {% endif %}
        <br>
        <font color="White"> Издатель: </font> <a href="#"> {{ game.publisher }} </a>
        <br>
        <font color="White"> Разработчик: </font> <a href="#"> {{ game.developer }} </a>
        <br>
        <font color="White"> Жанры: </font>
        {% for tag in tags %}
        <a href = "#"> {{ tag.label.name }}</a>
        {% endfor %}
        <br>
        <font color="White"><h4> Системные требования:</h4> </font>
        <ul class="container">
            <li> <font color="White"> ОС: {{ game.demandsOS }} </font></li>
            <li> <font color="White"> Процессор: {{ game.demandsCPU }}</font></li>
            <li> <font color="White"> Оперативная память: {{ game.demandsRAM }}</font></li>
            <li> <font color="White"> Видеокарта: {{ game.demandsGPU }}</font></li>
            <li> <font color="White"> Место на диске: {{ game.demandsROM }}</font></li>
        </ul>
    </div>
    <div class="container" style="padding-left: 0px;">
        <font color="White"><h3>Описание</h3></font>
        <font color="White"> {{ game.description }} </font>
        <br>
        <font color="White"><h3>Скриншоты</h3></font>
        {% for shoots in gameShots %}
        <img class="shoots-img" src="{{ shoots.image.url }}" alt="">
        {% endfor %}
    </div>
    <div style="padding-left: 0px;">
        <a href="#" style="margin-left: 80px; margin-top:2px;" type="submit" class="btn mediumBlue btn-md index"
           name="buyBtn">Купить</a>
        <a href="#" style="margin-left: 80px; margin-top:2px;" type="submit" class="btn mediumBlue btn-md index"
           name="cartBtn">В корзину</a>
    </div>
</div>
</div>
{% endblock %}