<div class="container white" >

    <p >Сортировка:</p>
    <form action="{% url 'sort' %}" method="GET">
    <input type="submit" name="price_up" id="price_up" value="Цена 🠕">
    <input type="submit" name="price_down" id="price_down" value="Цена 🠗">
    <br>
    <input type="submit" name="developer_up" id="developer_up" value="Разработчик (А-я)">
    <input type="submit" name="developer_down" id="developer_down" value="Разработчик (я-А)">
    <br>
    <input type="submit" name="publisher_up" id="publisher_up" value="Издатель (А-я)">
    <input type="submit" name="publisher_down" id="publisher_down" value="Издатель (я-А)">
    <br>
    <input type="submit" name="count_download_up" id="count_download_up" value="Количество закачек 🠕">
    <input type="submit" name="count_download_down" id="count_download_down" value="Количество закачек 🠗">
        </form>
    </div>
