{% extends 'templates/default.html' %}
{% block title %} {{ game.name }} {% endblock %}

{% block content %}
<style>
.article-img {
    height: 275px;
    width: 200px;
    border-radius: 2px;
    }
    .blue {background: #1F75FE; }
   .index{color: White;}

.shoots-img {
    height: 500px;
    width: 900px;
    border-radius: 2px;
    padding: 25px;
    padding-left: 0px;
    }

</style>
<div class="container " style="padding: 25px 0 25px 0">
<div class="container">
    <div style="float: left; width: 200px; height: 275">
        <div style="position: relative;">
            <img class="article-img" src="{{ game.poster.url }}" alt="">
        </div>
    </div>
    <div style="padding-left: 215px;">
        <h4 class="menuitems_color">{{ game.name }}</h4>
        Дата выхода: {{ game.release }}
        <br>
        {% if game.price > 0 %}
        Цена: {{ game.price }} руб.
        {% else %}
        Цена: Бесплатно
        {% endif %}
        <br>
        Издатель:<a class="menuitems_color" href="#"> {{ game.publisher }} </a>
        <br>
        Разработчик: <a class="menuitems_color" href="#"> {{ game.developer }} </a>
        <br>
        Количество скачиваний: <a> {{ game.count_download }} </a>
        <br>
        Жанры:
        {% for tag in tags %}
        <a class="menuitems_color" href = "#"> {{ tag.label.name }}</a>
        {% endfor %}
        <br>
        <h4 class="menuitems_color"> Системные требования:</h4>
        <ul class="container">
            <li>ОС: {{ game.demandsOS }}</li>
            <li>Процессор: {{ game.demandsCPU }}</li>
            <li>Оперативная память: {{ game.demandsRAM }}</li>
            <li>Видеокарта: {{ game.demandsGPU }}</li>
            <li>Место на диске: {{ game.demandsROM }}</li>
        </ul>
    </div>
    <div class="container" style="padding-left: 0px;">
        <h3 class="menuitems_color">Описание</h3>
        {{ game.description }}
        <br>
        <h3 class="menuitems_color">Скриншоты</h3>

        {% for shoots in gameShots %}
        <img class="shoots-img" src="{{ shoots.image.url }}" alt="">
        {% endfor %}
    </div>

    <div style="padding-left: 0px;">
        {% if lib > 0 %}
        <a type="submit" href="{% if request.user.is_authenticated %}/profile/{{ user }}{% else %}/login{% endif %}"
            class="btn btn-md button_word_color button_color">Куплено</a>
        {% else %}
            {% if cart > 0 %}
             <form action="" method="GET">
                {% csrf_token %}
                <input type="submit" class="btn btn-md button_word_color button_color" value="В корзине">
            </form>
            {% else %}
            <form action="" method="POST">
                {% csrf_token %}
                <input id="add" type="submit" class="btn btn-md button_word_color button_color" value="В корзину" name="add" >
            </form>
            {% endif %}
        {% endif %}
    </div>
</div>
</div>
{% endblock %}