{% extends 'templates/default.html' %}
{% block title %}Магазин{% endblock %}

{% block content %}
<style>


</style>
    {% if game_list %}
    <div class="row" style="padding-top: 15px; margin-left: 0px;">
        {% for game in game_list %}
        <div class="short-item">
            <div class="article-game">
                <div class="article-game-image">
                    <a href="/games/{{ game.url }}">
                        <img class="article-img" src="{{ game.poster.url }}" alt="">
                    </a>
                </div>
                <center>
                    <div class="article-game-title">
                        <a> <font color="White">{{ game.name }}</font></a>
                        {% if game.price > 0 %}
                    <div>
                        <a> <font color="White">{{ game.price }} руб.</font></a>
                    </div>
                    {% else %}
                    <div>
                        <a> <font color="White">Бесплатно</font></a>
                    </div>
                    {% endif %}
                    </div>

                </center>
            </div>
        </div>
        {% endfor %}
    </div>
<div class="container" style="padding: 20px;" align="center">
    {% include "templates/pagination.html" with page=game_list %}
    </div>
     {% else %}
        <p style="color: White;">Извините, но ничего не найдено :(</p>
    {% endif %}
{% endblock %}