{% extends 'templates/default.html' %}
{% block title %} Авторизация {% endblock %}
{% block content %}
<div class="container" style="padding-top:30px;">
    <H2 class="text-center"><font color="White">Авторизация</font></H2>
    <div align="center">
        <form action="" method="POST" style="color:White;padding: 20px;">
            {% csrf_token %}
            <table class="">
                {{ log_form.as_table }}
            </table>
            <font style="padding-left: 150px; color:red;"> {{ invalid }}</font>
            <div style="padding: 10px;">
                <input style="background: #12283e; color: White;" type="submit" class="btn" value="Войти" name="LogIn"/>
                <a style="background: #12283e; color: White;" href="/authorization/join" type="submit" class="btn"
                   name="Reg">Регистрация</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}