<style>
 ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: white;
    float: left;
    padding: 8px 16px;
    text-decoration: none;

}
.active{
background-color: #12283e;
}


</style>
{% load i18n %}
<ul class="pagination">
    {% if game_list.number|add:-3 > 1 %}
            <li class="pagination__item">
                <a href="?page=1">1</a>
            </li>
        {% endif %}
    {% if game_list.has_previous %}
    <li>
        <a class="previous" href="?page={{ game_list.previous_page_number }}{% if request.GET.name %}&q={{request.GET.name }}{% endif %}">{% trans 'Предыдущая' %}
        </a>
    </li>
    {% endif %}
        {% for n in game_list.paginator.page_range %}
            {% if n > game_list.number|add:-3 and n < game_list.number|add:3 %}
                {% if n == game_list.number %}
                    <li>
                        <a class="active" href='{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}?page={{ n }}'>{{ n }}</a>
                    </li>
                {% else %}
                    <li>
                        <a href='{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}?page={{ n }}'>{{ n }}</a>
                    </li>
                {% endif %}
            {% endif %}
        {% endfor %}
    {% if game_list.has_next %}
    <li>
        <a class="Next" href="{% if request.GET.name %}&name={{ request.GET.name }}{% endif %}?page={{ game_list.next_page_number }}">
            {% trans 'Следующая' %}</a>
    </li>
    {% endif %}
</ul>