{% extends 'templates/default.html' %}
{% block title %}{{ user }}{% endblock %}

{% block content %}
<style>
.profile-img {
    height: 250px;
    width: 190px;
    }

.profile-view{
display: flex;
padding-left: 0px;
padding-top: 15px;
padding-bottom: 10px;
}
.article-img {
    height: 230px;
    width: 165px;
    border-radius: 2px;
}
</style>
<div class="container profile-view">
    <div>
        <img class="profile-img" src="{{ user.profile.photo.url }}" alt="">
    </div>
    <div style="padding-left: 15px;">
        <h3>{{ user.username }}</h3>
        <br>
        Настоящее имя: {{ user.first_name }} {{ user.last_name }}
        <br>
        Почта: {{ user.email }}
        <br>
        Дата рождения: {{ user.profile.date_of_birth }}
        <br>
    </div>

</div>
<a style="margin-top:10px; margin-bottom: 10px;" href="{% url 'edit_profile' user=user %}" type="submit" class="btn btn-md white">Изменить</a>
<a class="btn" href="{% url 'history_pay' user=user %}">История</a>
<div>
    <p><H3>МОЯ БИБЛИОТЕКА</H3><p>
    {% if game_list %}
    <div>
 {% for lib in game_list %}
<a class="article-img" style="">
                    <a href="/games/{{ lib.game.url }}">
                        <img class="article-img" src="{{ lib.game.poster.url }}" alt="">
                    </a>
                </a>
    {% endfor %}
</div>

</div>
<div class="container" style="padding: 20px;" align="center">
    {% include "templates/pagination.html" with page=game_list %}
    </div>
{% else %}
        <p style="color: White;">Здесь пока пусто :(</p>
    {% endif %}
{% endblock %}