{% extends 'templates/default.html' %}
{% block title %}{{ user }}{% endblock %}

{% block content %}
<style>
.profile-img {

    max-width: 245px;
    position: relative;
    }
.article-game-image {
    height: 230px;
    margin-bottom: 12px;
    overflow: hidden;
    position: relative;
    width: 163px;
}
.profile-view{
display: flex;
padding-left: 0px;
padding-top: 15px;
padding-bottom: 10px;
}
</style>
<div class="container profile-view">
    <div>
        <img class="profile-img" src="{{ user.profile.photo.url }}" alt="">
    </div>
    <div style="padding-left: 15px;">
        <h3>{{ user.username }}</h3>
        <br>
        Почта: {{ user.email }}
        <br>
        Дата рождения: {{ user.profile.date_of_birth }}
        <br>
    </div>
</div>
<a style="margin-top:10px; margin-bottom: 10px;" href="#" type="submit" class="btn blackBlue btn-md white" name="regbut">Изменить</a>
<div>

</div>
{% endblock %}