<style>
  .search input{

  }
</style>
<div class="container">
<div class="search" style="padding-top: 15px; padding-bottom: 10px; ">
<form action="{% url 'search' %}" class="navbar-form navbar-left" method="GET">
    <div class="input-group">
        <input id="search" name="name" type="text" class="form-control" placeholder="Поиск">
    </div>
</form>
</div>
    <details class="white">
        <summary>Сортировка и фильтрация</summary>
        {% include "templates/gameSort.html" %}
        {% include "templates/filter.html" %}
    </details>
</div>

